.dashboard {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chart-wrapper {
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fbfcf8;
    max-height: 450px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.chart-wrapper:nth-child(2n) {
    margin-right: 0;
}

.chart--large {
    flex-basis: 100%;
}

.chart--medium {
    flex-basis: calc(50% - 10px);
}

.chart--small {
    flex-basis: calc(33.33% - 10px);
}

@media (min-width: 768px) {
    .chart--medium {
        flex-basis: calc(33.33% - 10px);
    }

    .chart--small {
        flex-basis: calc(16.67% - 10px);
    }
}

.chart-box {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.chart {
    width: 100%;
    height: 100%;
}

@media (max-width: 760px) {
    .chart-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .chart-wrapper:not(:last-child) {
        margin-right: 0;
    }

    .chart--large {
        flex-basis: 100%;
    }

    .chart--medium {
        flex-basis: calc(100% - 40px);
        margin-bottom: 20px;
    }

    .chart--small {
        flex-basis: calc(100% - 40px);
        margin-bottom: 20px;
    }
}

@media (min-width: 760px) {
    .chart--medium {
        flex-basis: calc(33.33% - 10px);
    }

    .chart--small {
        flex-basis: calc(16.67% - 10px);
    }
}